<div class='search-fields'>
  <%= form_tag post_production_dashboard_path, method: :get do %>
    <div class='row'>
      <div class='col-sm-3'>
        <%= label_tag 'q[text]', 'Search Terms' %>
        <%= text_field_tag 'q[text]', params[:q] ? params[:q][:text] : '', placeholder: 'Terms', class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= label_tag 'q[complete]', 'Train State Complete?' %>
        <%= select_tag 'q[complete]', options_for_select([['No', false], ['Yes', true], ['', '']], params[:q] ? params[:q][:complete] : ''), class: 'form-control select2', data: { width: '100%' }  %>
      </div>
      <div class="col-sm-3">
        <%= label_tag 'q[class_name]', 'Train Types' %>
        <%= select_tag 'q[class_name]', options_for_select(@train_class_name_options, params[:q] ? params[:q][:class_name] : nil), class: 'form-control select2', multiple: true, data: { width: '100%' }  %>
      </div>
      <div class="col-sm-2">
        <%= label_tag 'q[due_at_before]', 'Train Due At Before' %>
        <%= text_field_tag 'q[due_at_before]', params[:q] ? params[:q][:due_at_before] : '', class: 'form-control datepicker-standard'  %>
      </div>
      <div class="col-sm-2">
        <%= label_tag 'q[due_at_after]', 'Train Due At After' %>
        <%= text_field_tag 'q[due_at_after]', params[:q] ? params[:q][:due_at_after] : '', class: 'form-control datepicker-standard'  %>
      </div>
    </div>
    <div class='row'>
    
      <div class="col-sm-3">
        <%= label_tag 'q[order_complete]', 'Order State Complete?' %>
        <%= select_tag 'q[order_complete]',  options_for_select([['No', false], ['Yes', true], ['', '']], params[:q] ? params[:q][:order_complete] : ''), class: 'form-control select2', data: { width: '100%' }  %>
      </div>

      <div class="col-sm-3">
        <%= label_tag 'q[order_deadline_after]', 'Order Deadline After' %>
        <%= text_field_tag 'q[order_deadline_after]', params[:q] ? params[:q][:order_deadline_after] : '', class: 'form-control datepicker-standard'  %>
      </div>
      
      <div class="col-sm-3">
        <%= label_tag 'q[order_deadline_before]', 'Order Deadline Before' %>
        <%= text_field_tag 'q[order_deadline_before]', params[:q] ? params[:q][:order_deadline_before] : '', class: 'form-control datepicker-standard'  %>
      </div>
    
      <div class="col-sm-3">
        <%= label_tag 'q[fba]', 'FBA?' %>
        <%= select_tag 'q[fba]',  options_for_select([['No', false], ['Yes', true], ['', '']], params[:q] ? params[:q][:fba] : ''), class: 'form-control select2', data: { width: '100%' }  %>
      </div>
    </div>
    <div>
      <br />
      <%= button_tag class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-search"></i> Search
      <% end %>
    </div>
  <% end %>
</div>
