<div class='row'>
  <div class='col-lg-3'>

    <div class='row margin-bottom-20px'>
      <%= text_field_tag :show_machines, '',
        id: 'show-machines-select',
        style: 'width: 100%',
        data: {
          initial: session[:show_machines].try(:to_a).try(:map) { |m| { id: m[0], text: m[1] } }
        }
      %>
    </div>
    <div clas='row'>

      <% Machine.all.each do |machine| %>
        <div class='event-receiver unscheduled-imprints machine-event-receiver's
             data-machine-id='<%= machine.id %>'s
             data-machine-name='<%= machine.name %>'s
             <%= "style='display: none;'".html_safe unless session[:show_machines].try(:[], machine.id.to_s) %>>
          <h4 align='center'><%= machine.name %></h4>

          <% machine.imprints.unscheduled.each do |imprint| %>
            <%= render 'machines/unscheduled_entry.html.erb', event: imprint %>
          <% end %>
          <% machine.maintenances.unscheduled.each do |maintenance| %>
            <%= render 'machines/unscheduled_entry.html.erb', event: maintenance %>
          <% end %>

        </div>
      <% end %>

        <div class='event-receiver unscheduled-imprints no-machine' data-no-machine='true'>
          <h4 align='center'>No Machine</h4>

          <% Imprint.unscheduled.machineless.each do |imprint| %>
            <%= render 'machines/unscheduled_entry.html.erb', event: imprint %>
          <% end %>
          <% Maintenance.unscheduled.machineless.each do |maintenance| %>
            <%= render 'machines/unscheduled_entry.html.erb', event: maintenance %>
          <% end %>

        </div>

      </div>
  </div>

  <div class='col-lg-9' id='calendar'></div>
</div>
