<div class="col-xs-4">
  <div class='draggable-imprint panel panel-primary <%= object.model_name.element.dasherize %>-panel' data-imprint-id="<%= object.id %>">
    <div class="panel-heading">
      <% if object.respond_to?(:name) %>
        <%= object.name %>
      <% else %>
        <%= object.model_name.element.humanize.titleize %>
      <% end %>
      <% if object.try(:complete?) %>
        <i class='glyphicon glyphicon-star'></i>
      <% end %>
      <% if current_user.role?('admin') %>
        <%= link_to train_path(model_name: object.model_name.element, id: object), class: 'pull-right destroy-train-link', style: 'color: #fff', method: :delete,  data: {confirm: "Are you sure you want to destroy this #{object.model_name.element.humanize.titleize}"} do %>
          <i class='glyphicon glyphicon-remove-circle'></i>
        <% end %>
      <% end %>
    </div>

    <div class="panel-body">
    <dl>
      <dt>State</dt>
      <dd class='<%= object.class.name.underscore %>_<%= object.id %>_current_state'><%= object.send("human_#{object.train_machine.attribute}_name") %></dd>
      <% if object.respond_to?(:new_separation) %> <!-- this object is a screen train -->
        <dt>Job(s)</dt>
        <% object.unique_jobs.each do |j| %>
          <dd class="screen-train-imprints">CRM#<%= j.softwear_crm_id %> <%= j.name %></dd>
        <% end %>
      <% end %>
      <% if object.class.name == "FbaBaggingTrain" %>
        <dt>Printed</dt>
        <dd class="screen-train-imprints"><%= object.printed? %></dd>
      <% end %>
    </dl>

    <%= capture(&block) if local_assigns[:block] %>
    <%= link_to 'Show Full Details', show_train_path(object), remote: true, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
