<div class="row">
  <div class="col-xs-12">

    <% if lookup_context.find_all("shared/_#{@object.model_name.element}_details").any? %>
      <div class='<%= @object.model_name.element %>-details col-xs-4'>
        <%= render "shared/#{@object.model_name.element}_details", object: @object, in_modal: !local_assigns[:in_modal].nil? %>
      </div>
    <% else %>
      <div class='col-xs-1'></div>
    <% end %>

    <div class='col-xs-8'>
      <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>

      <% if @object.try(:require_manager_signoff?) %>
        <p class="alert alert-warning flash-notice col-xs-12">
        This Imprint Requires Signoff
        </p>
      <% end %>

      <% if @object.respond_to?(:unique_crm_imprint_ids) %>
        <% @object.unique_crm_imprint_ids.each do |crm_imprint_id| %>
          <% unless crm_imprint_id.blank? %>
            <% begin %>
              <%= render 'imprints/artwork', imprint: Crm::Imprint.find(crm_imprint_id) %>
            <% rescue StandardError => e %>

              <% Rails.logger.error "**** ERROR RETRIEVING PROOF INFORMATION (imprints/_view) ****\n#{e.class.name}: #{e.message}" %>
              <% Rails.logger.error e.backtrace.join("\n") %>
                      <div class='alert alert-danger'>
                        <h4>There was an issue retrieving proof information from crm.</h4>

              <%= content_tag :code do %>
                <%= "#{e.class.name}: #{e.message}" %>
              <% end %>
                      </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div id='transition-state'>
        <%= render 'shared/train_transitions', object: @object %>
      </div>

    </div>
  </div>

</div>
