<div class="row">
    <% if lookup_context.find_all("shared/_#{@object.model_name.element}_details").any? %>
      <div class='<%= @object.model_name.element %>-details col-xs-4'>
        <%= render "shared/#{@object.model_name.element}_details", object: @object, in_modal: !local_assigns[:in_modal].nil? %>
      </div>
    <% else %>
      <div class='col-xs-1'></div>
    <% end %>

    <div class='col-xs-8'>
      <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>

      <% if @object.try(:require_manager_signoff?) %>
        <p class="alert alert-warning flash-notice col-xs-12">
        This Imprint Requires Signoff
        </p>
      <% end %>

      <% if @object.respond_to?(:unique_crm_imprint_ids) %>
        <%= link_to "Load Proofs", proof_info_imprint_path(@object.unique_crm_imprint_ids.reject(&:blank?)), remote: true, class: "btn btn-primary btn-lg" %>

        <% @object.unique_crm_imprint_ids.each do |crm_imprint_id| %>
          <% unless crm_imprint_id.blank? %>
            <div class='crm-proof-info' data-crm-imprint-id='<%= crm_imprint_id %>'>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div id='transition-state' class="clearfix">
        <%= render 'shared/train_transitions', object: @object %>
      </div>

    </div>
</div>
