<%= form_tag "#", id: 'screen-filters' do %>
    <div class="filters row">
      <div class="col-xs-6 col-sm-3">
        <%= label_tag 'frame-type', 'Frame Type' %><br />
        <%= select_tag 'frame-type', options_for_select(Screen::FRAME_TYPES), multiple: true, include_blank: true,
                       id: 'frame-type', class: 'js-screen-multiple-select' %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= label_tag 'dimensions', 'Dimensions' %><br />
        <%= select_tag 'dimensions', options_for_select(Screen::DIMENSIONS), multiple: true, include_blank: true,
                       id: 'dimensions', class: 'js-screen-multiple-select' %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= label_tag 'mesh-type', 'Mesh Type' %><br />
        <%= select_tag 'mesh-type', options_for_select(Screen::MESH_TYPES), multiple: true, include_blank: true,
                       id: 'mesh-type', class: 'js-screen-multiple-select' %>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= label_tag 'state', 'State' %><br />
        <%= select_tag 'state', options_for_select(Screen::INITIAL_STATES.map{|x| [x.humanize, x]}), multiple: true, include_blank: true,
                       id: 'state', class: 'js-screen-multiple-select' %>
      </div>
    </div>
    <div class='filters row'>
      <%= button_tag "Filter Screens", class: 'col-xs-6 col-xs-offset-3 btn btn-success'%>
    </div>
<% end %>