<h2>Transition State</h2>
<% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>
<p class="alert alert-info">Current State is <b><%= @screen.human_state_name.titleize %></b></p>
<div class="col-sm-8 col-xs-12">
  <h3>Screen Fails</h3>

  <div id="failed-buttons">
    <% if @screen.state_events.include? :bad_prep %>
        <%= link_to '#', class: 'btn btn-lg  btn-warning', id: 'bad-prep-link' do %>
            Bad Prep
        <% end %>
    <% end %>

    <%= link_to '#', class: 'btn btn-lg  btn-danger', id: 'break-link' do %>
        Broke
    <% end %>

  </div>

  <div id="bad-prep-form" style="display: none">
    <h3>Bad Prep</h3>
    <%= form_tag transition_screen_path(@screen, transition: :bad_prep), method: :get, remote: true  do %>
        <%= select_tag :user_id, options_from_collection_for_select(User.all, :id , :email, @current_user.email), class: 'form-control' %>
        <%= select_tag :reason, options_for_select(Screen::SCREEN_BAD_PREP_REASONS), class: 'form-control' %>
        <%= submit_tag 'Confirm Bad Prep', class: 'btn btn-lg btn-primary' %>

        <%= link_to '#', class: 'cancel-failure btn btn-lg btn-danger pull-right' do %>
            Cancel
        <% end %>
    <% end %>
  </div>

  <div id="break-form" style="display: none">
    <h3>Broke</h3>
    <%= form_tag transition_screen_path(@screen, transition: :broke), method: :get, remote: true  do %>
        <%= select_tag :user_id, options_from_collection_for_select(User.all, :id , :email, @current_user.email), class: 'form-control' %>
        <%= select_tag :reason, options_for_select(Screen::SCREEN_BREAK_REASONS), class: 'form-control' %>
        <%= submit_tag 'Confirm Break', class: 'btn btn-lg btn-primary' %>

        <%= link_to '#', class: 'cancel-failure btn btn-lg btn-danger pull-right' do %>
            Cancel
        <% end %>
    <% end %>
  </div>

</div>
<div class="col-sm-4 col-xs-12">
  <h3>Success</h3>
  <% @screen.state_events.each do |e| %>
      <% if e == :meshed %>
          <%= form_tag transition_screen_path(@screen, transition: :meshed), method: :get, remote: true  do %>
              <%= label_tag 'Mesh Type' %>
              <%= select_tag :mesh_type, options_for_select(Screen::MESH_TYPES, @screen.mesh_type), class: 'form-control' %>
              <%= submit_tag 'Mesh', class: 'btn btn-lg btn-primary' %>
          <% end %>
      <% elsif ( e != :broke && e != :bad_prep) %>
          <%= link_to transition_screen_path(@screen, transition: e), class: 'btn btn-lg  btn-success', remote: true do %>
              <%= e.to_s.humanize %>
          <% end %>
      <% end %>
  <% end %>
</div>
