<%= render 'nav' %>
<h1 class="pull-left">Fast Screen Scan</h1>
<br clear="all" />
<br clear="all" />

<div class="col-xs-12">
  <div class="col-xs-6 col-sm-3">
    <%= label_tag 'state-type', 'Expected Current State' %>
    <%= select_tag 'state-type', options_for_select(Screen.list_states), multiple: false, include_blank: false,
                   id: 'expected-state', class: 'js-screen-state-select' %>
  </div>
</div>

<div class="col-xs-12">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Screen ID:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
</div>
