<h1>Screen Lookup</h1>

<%= form_tag lookup_screens_path, remote: true, method: :get, id: 'screen-lookup' do  %>
    <div class="form-group">
      <%= text_field_tag :id, '', class: 'form-control', id: 'screen-id' %>
    </div>

    <%= submit_tag 'Look Up Screen', class: 'btn btn-primary' %>
<% end %>

<h2>Screen Status</h2>

<%= render 'screens/status_filters' %>

<div id="screen-status-table">
  <%= render 'screens/status_table' %>
</div>

