<br />
<table class="table table-striped">
  <thead>
  <tr class="info">
    <th colspan="3">
      Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %>
    </th>
  </tr>
  <tr>
    <th colspan="3">
      Pre-production
    </th>
  </tr>
  </thead>
  <tbody>
  <% Train.each_train_of_type(:pre_production, @order) do |train| %>
      <tr>
        <td>
          Order #<%= @order.id %><br/>
          <%= train.model_name.element.humanize.titleize %> #<%= train.id %>
        </td>
        <td style="width: 300px">
          <%= pretty_train_state :div, train %>
        </td>
        <td style="width: 100px">
          <%= bootstrap_show_train_button(train, false) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% @jobs.group(:job_id).groups.each do |group| %>
    <% job = Job.find(group.value) %>

    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th colspan="3">
          Job #<%= job.id %>, CRM Job #<%= job.softwear_crm_id %>
        </th>
      </tr>
      <tr>
        <th colspan="3">
          Pre Production Trains
        </th>
      </tr>
      </thead>
      <tbody>
      <% Train.each_train_of_type(:pre_production, job) do |train| %>
          <tr>
            <td>
              Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %><br/>
              Job #<%= job.id %>, CRM Job #<%= job.softwear_crm_id %><br/>
              <%= train.model_name.element.humanize.titleize %>
            </td>
            <td style="width: 300px">
              <%= pretty_train_state :div, train %>
            </td>
            <td style="width: 100px">
              <%= bootstrap_show_train_button(train, false) %>
            </td>
          </tr>
      <% end %>
      <thead>
      <tr>
        <th colspan="3">
          Production Trains
        </th>
      </tr>
      <tbody>
      <% group.results.each do |imprint| %>
          <tr>
            <td>
              Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %><br/>
              <%= imprint.name %>
            <td style="width: 300px">
              <%= pretty_train_state :div, imprint %>
            </td>
            <td style="width: 100px">
              <%= bootstrap_show_train_button(imprint, false) %>
            </td>
          </tr>
      <% end %>
      </tbody>
      </table>
<% end %>


<% @imprint_groups.each do |imprint_group| %>
    <table class="table table-striped">
      <thead>
      <tr class="info">
        <th colspan="3">
          Imprint Group #<%= imprint_group.id %><br />
          <%= raw imprint_group.imprints.map { |x| "Imprint ##{x.id} - Job ##{x.job_id} - CRM Job ##{x.softwear_crm_id} -  #{x.job.name} - #{x.name}" }.join("<br />") %>
        </th>
      </tr>
      <tr>
        <th colspan="3">
          Pre Production Trains
        </th>
      </tr>
      </thead>
      <tbody>
      <% jobs = imprint_group.imprints.map(&:job) %>
      <% jobs.each do |job| %>
          <% Train.each_train_of_type(:pre_production, job) do |train| %>
              <tr>
                <td>
                  Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %><br/>
                  Job #<%= job.id %>, CRM Job #<%= job.softwear_crm_id %><br/>
                  <%= train.model_name.element.humanize.titleize %>
                </td>
                <td style="width: 300px">
                  <%= pretty_train_state :div, train %>
                </td>
                <td style="width: 100px">
                  <%= bootstrap_show_train_button(train, false) %>
                </td>
              </tr>
          <% end %>
      <% end %>
      <thead>
      <tr>
        <th colspan="3">
          Production Train
        </th>
      </tr>
      <tbody>
      <tr>
        <td>
          Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %><br/>
          <%= imprint_group.type.titleize %><br />
          <%= imprint_group.name %>
        <td style="width: 300px">
          <%= pretty_train_state :div, imprint_group %>
        </td>
        <td style="width: 100px">
          <%= bootstrap_show_train_button(imprint_group, false) %>
        </td>
      </tr>
      </tbody>
    </table>
<% end %>


  <table class="table table-striped">
      <thead>
      <tr class="info">
            <th colspan="3">
              Order #<%= @order.id %>, CRM Order #<%= @order.softwear_crm_id %>
            </th>
      </tr>
      <tr>
        <th colspan="3">
          Post Production Trains
            </th>
          </tr>
      </thead>
    <tbody>
  <% Train.each_train_of_type(:post_production, @order) do |train| %>
      <tr>
        <td>
          Order #<%= @order.id %><br/>
          <%= train.model_name.element.humanize.titleize %>
        </td>
        <td style="width: 300px">
          <%= pretty_train_state :div, train %>
        </td>
        <td style="width: 100px">
          <%= bootstrap_show_train_button(train, false) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
