<table class="table table-striped">
  <tbody class="no-border-y">
  <tr>
    <td colspan="3">
      <strong>Order</strong>
    </td>
  </tr>
  <% Train.each_train_of_type(:pre_production, @order) do |train| %>
      <tr>
        <td>
          Order #<%= @order.id %><br/>
          <%= train.model_name.element.humanize.titleize %>
        </td>
        <td>
            <%= pretty_train_state :div, train %>
        </td>
        <td>
          <%= bootstrap_show_train_button(train) %>
        </td>
      </tr>
  <% end %>
  <% @order.jobs.each do |job| %>
      <tr>
        <td colspan="3">
          <strong><%= job.name %></strong>
        </td>
      </tr>
      <% Train.each_train_of_type(:pre_production, job) do |train| %>
          <tr>
            <td>
              <%= job.name %><br/>
              <%= train.model_name.element.humanize.titleize %>
            </td>
            <td>
              <%= pretty_train_state :div, train %>
            </td>
            <td>
              <%= bootstrap_show_train_button(train) %>
            </td>
          </tr>
      <% end %>
      <% job.imprints.each do |train| %>
          <tr>
            <td>
              <%= job.name %><br/>
              <%= train.model_name.element.humanize.titleize %>
            </td>
            <td>
              <%= pretty_train_state :div, train %>
            </td>
            <td>
              <%= bootstrap_show_train_button(train) %>
            </td>
          </tr>
      <% end %>
  <% end %>
  <tr>
    <td colspan="3">
      <strong>Order <%= order.name %></strong>
    </td>
  </tr>
  <% Train.each_train_of_type(:post_production, @order) do |train| %>
      <tr>
        <td>
          Order #<%= @order.id %><br/>
          <%= train.model_name.element.humanize.titleize %>
        </td>
        <td>
          <%= pretty_train_state :div, train %>
        </td>
        <td>
          <%= bootstrap_show_train_button(train) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>