<div class='search-fields'>
  <%= form_tag pre_production_art_dashboard_path, method: :get do %>
    <div class='row'>
      <div class='col-sm-4'>
        <%= label_tag 'q[text]', 'Search Terms' %>
        <%= text_field_tag 'q[text]', params[:q] ? params[:q][:text] : '', placeholder: 'Terms', class: 'form-control' %>
      </div>
      <div class="col-sm-2">
        <%= label_tag 'q[class_name]', 'Train Type' %>
        <%= select_tag 'q[class_name]', options_for_select(["ScreenTrain", "Ar3Train", "Digitization"], params[:q] ? params[:q][:class_name] : ''), class: 'form-control select2', multiple: true, data: { width: '100%' }  %>
      </div>
      <div class="col-sm-3">
        <%= label_tag 'q[due_at_after]', 'Due At After' %>
        <%= text_field_tag 'q[due_at_after]', params[:q] ? params[:q][:due_at_after] : '', class: 'form-control datepicker-standard'  %>
      </div>
      <div class="col-sm-3">
        <%= label_tag 'q[due_at_before]', 'Due At Before' %>
        <%= text_field_tag 'q[due_at_before]', params[:q] ? params[:q][:due_at_before] : '', class: 'form-control datepicker-standard'  %>
      </div>
    </div>

    <div class='row'>
      <div class="col-sm-4">
        <%= label_tag 'q[state]', 'Pre Production Train State' %>
        <%= select_tag 'q[state]', options_for_select(@train_states, params[:q] ? params[:q][:state] : ''), class: 'form-control select2', multiple: true, data: { width: '100%' }  %>
      </div>

      <div class="col-sm-3">
        <%= label_tag 'q[order_complete]', 'Order Complete?' %>
        <%= select_tag 'q[order_complete]', options_for_select([['No', false], ['Yes', true], ['', '']], params[:q] ? params[:q][:order_complete] : ''), class: 'form-control select2', data: { width: '100%' }  %>
      </div>

      <div class="col-sm-3">
        <%= label_tag 'q[assigned_to_id]', 'Assigned To' %>
        <%= select_tag 'q[assigned_to_id]', options_for_select(User.all.map { |s| [s.full_name, s.id] }, params[:q] ? params[:q][:assigned_to_id] : ''), class: 'form-control select2', multiple: true, data: { width: '100%' }  %>
      </div>
    </div>
    <div>
      <br />
      <%= button_tag class: 'btn btn-success' do %>
        <i class="glyphicon glyphicon-search"></i> Search
      <% end %>
    </div>
  <% end %>
</div>
