<tr>
  <td><%= train.id %></td>
  <td><%= train.class.name.underscore.humanize %></td>
  <td>
    <% if train.order %>
      <%= link_to train.order.tagged_name(self), order_path(train.order) %>
    <% else %>
      No order
    <% end %>
    <dl>
      <% if train.class.name == "ScreenTrain" %>
        <br />
        <dt>CRM Order</dt>
        <dd class="screen-train-imprints"><%= ScreenTrain::order_id_and_name(train) rescue "**No CRM Order Found**" %> </dd>
        <dt>CRM Job(s)</dt>
        <% train.unique_jobs.each do |j| %>
          <dd class="screen-train-imprints"><%= j.name %></dd>
        <% end %>
      <% end %>
      <dt>Imprint(s)</dt>
      <dd class="screen-train-imprints"><%= train.imprints.map{|x| x.name }.join(", ")  %>
      </dd>
      <dt>Artwork Location</dt>
      <dd class="screen-train-artwork-location"><%= train.artwork_location %>
      </dd>
      <dt>Notes</dt>
      <dd class="screen-train-notes"><%= train.notes %>
      </dd>
    <% unless (train.screen_requests.empty? || train.all_screens_assigned?) %>
        <dt>Screen Requests
        </dt>
        <dd><%= train.screen_requests.map(&:name).join(", ") unless train.screen_requests.empty? %>
        </dd>
    <% else %>
        <dt>Assigned Screens
        </dt>
        <dd><%= train.assigned_screens.map(&:name).join(", ") unless train.assigned_screens.empty? %>
        </dd>
    <% end %>
    <% unless train.machines.empty? %>
      <dt>Machine(s)</dt>
      <dd class="screen-train-print-type"><%= train.machines.join(', ') %>
    <% end %>
    </dl>
    <div class="row">
    <dl class="col-xs-6">
      <dt>Total Imprint Count</dt>
      <dd class='screen-train-count'><%= train.imprint_count %>
      </dd>
      <dt>New Sep?</dt>
      <dd class='screen-train-new-separation'><%= train.new_separation? ? 'yes' : 'no' %>
      </dd>
    </dl>
    <dl class="col-xs-6">
      <dt>Fba?</dt>
      <dd class='screen-train-fba'><%= train.fba? ? 'yes' : 'no' %>
      </dd>
      </dd>
      <dt>Print Type</dt>
      <dd class="screen-train-print-type"><%= train.print_type %>
    </dl>
  </div>
  </td>
  <td><%= train.human_state_name %></td>
  <td><%= human_boolean train.order_complete? %></td>
  <td><%= train.due_at.try(:strftime, '%a, %b %d, %Y ') rescue 'not set' %></td>
  <td><%= train.display_order_deadline %></td>
  <td><%= train.assigned_to.full_name rescue 'unassigned' %></td>
  <td>
    <%= link_to show_train_path(train), class: 'btn btn-primary btn-sm', remote: true do %>
      <i class='glyphicon glyphicon-eye-open'></i>
    <% end %>
    <%= link_to edit_screen_train_path(train), class: 'btn btn-warning btn-sm', remote: true do %>
      <i class='glyphicon glyphicon-pencil'></i>
    <% end %>
  </td>
</tr>
