<%= form_for(user, url: url) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group"><%= f.label :first_name %><br/>
    <%= f.text_field :first_name, autofocus: true %></div>

  <div class="form-group"><%= f.label :last_name %><br />
    <%= f.text_field :last_name %></div>

  <div class="form-group"><%= f.label :email %><br />
    <%= f.email_field :email %></div>

  <div class="form-group">
    <% begin %>
      <%= label_tag "Admin" %><br />
      <%= check_box_tag "user[role_ids][]", Role.find_by(name: 'Admin').id, checked: user.role?('admin')  %>
    <% rescue %>
      No Roles Defined
    <% end %>
    </div>

  <% if create_or_edit_text(user) == 'Create' %>
  <div class="form-group"><%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
    <%= f.password_field :password, autocomplete: 'off' %></div>

  <div class="form-group"><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %></div>
  <% end %>

  <div><%= f.submit create_or_edit_text(user) + ' User', class: 'btn btn-primary' %></div>
<% end %>
