
<% if object.require_manager_signoff? %>
  <p class="alert alert-warning flash-notice col-xs-12">
  This Imprint Requires Signoff
  </p>
<% end %>
<% if object.respond_to?(:part_of_group?) && object.part_of_group? %>
  <h4>(Group #<%= object.imprint_group.id %>) <%= object.name %></h4>
<% end %>
<dl>
  <dt>Description</dt>
  <dd><%= object.description %></dd>
  <% if object.scheduled? %>
      <dt>Scheduled At</dt>
      <% if object.respond_to?(:part_of_group?) && object.part_of_group? %>
        <dd><%= object.imprint_group.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= object.imprint_group.estimated_time %>hrs</dd>
      <% else %>
        <dd><%= object.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= object.estimated_time %>hrs</dd>
      <% end %>
  <% else %>
      <dt>Unscheduled</dt>
  <% end %>
  <% if current_user.role?('admin') && object.respond_to?(:softwear_crm_id) %>
    <dt>SoftWEAR-CRM ID</dt>
    <dd><%= editable object, :softwear_crm_id %></dd>
  <% end %>
  <dt>Production Deadline</dt>
  <dd><%= object.production_deadline || 'Unsure' %></dd>
  <dt>Machine</dt>
  <dd>
    <% if current_user.role?('admin') %>
      <%= editable object, :machine_id, type: :select, data: { source: Machine.all.map { |m| { m.id => m.name } } } %>
    <% else %>
      <%= object.machine_name %>
    <% end %>
  </dd>
  <dt>Type</dt>
  <dd><%= object.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
  <% if object.type == 'ScreenPrint' %>
    <dt>Revolved?</dt>
    <dd>
      <% if current_user.role?('admin') %>
        <%= editable object, :revolved %>
      <% else %>
        <%= object.revolved? ? 'Yes' : 'No' %>
      <% end %>
    </dd>
  <% end %>

  <% if object.imprintable_train && object.imprintable_train.location.present? %>
    <dt>Imprintables Location</dt>
    <dd><%= object.imprintable_train.location %></dd>
  <% end %>

  <dt>Count</dt>
  <dd><%= object.count %></dd>
  <% if object.try(:triloc_result) %>
    <dt>Triloc</dt>
    <dd><%= object.triloc_result %></dd>
  <% end %>
</dl>
<% if object.completed? %>
  <%= render 'imprints/completed_info', imprint: object %>
<% end %>
