<h2>Details</h2>
<dl>
  <dt>Description</dt>
  <dd><%= imprint.description %></dd>
  <% if imprint.scheduled? %>
      <dt>Scheduled At</dt>
      <dd><%= imprint.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= imprint.estimated_time %>hrs</dd>
  <% else %>
      <dt>Unscheduled</dt>
  <% end %>
  <dt>
    Machine
  </dt>
  <dd>
    <% if current_user.admin? %>
      <%= editable imprint, :machine_id, type: :select, data: { source: Machine.all.map { |m| { m.id => m.name } } } %>
    <% else %>
      <%= imprint.machine_name %>
    <% end %>
  </dd>
  <dt>Type</dt>
  <dd><%= imprint.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
  <dt>Count</dt>
  <dd><%= imprint.count %></dd>
</dl>
  <% if imprint.completed? %>
    <%= render 'imprints/completed_info', imprint: imprint %>
  <% end %>
