
<% if object.require_manager_signoff? %>
  <p class="alert alert-warning flash-notice col-xs-12">
  This Imprint Requires Signoff
  </p>
<% end %>
<dl>
  <dt>Description</dt>
  <dd><%= object.description %></dd>
  <% if object.scheduled? %>
      <dt>Scheduled At</dt>
      <dd><%= object.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= object.estimated_time %>hrs</dd>
  <% else %>
      <dt>Unscheduled</dt>
  <% end %>
  <% if current_user.admin? && object.respond_to?(:softwear_crm_id) %>
    <dt>SoftWEAR-CRM ID</dt>
    <dd><%= editable object, :softwear_crm_id %></dd>
  <% end %>
  <dt>
    Machine
  </dt>
  <dd>
    <% if current_user.admin? %>
      <%= editable object, :machine_id, type: :select, data: { source: Machine.all.map { |m| { m.id => m.name } } } %>
    <% else %>
      <%= object.machine_name %>
    <% end %>
  </dd>
  <dt>Type</dt>
  <dd><%= object.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
  <dt>Count</dt>
  <dd><%= object.count %></dd>
</dl>
<% if object.completed? %>
  <%= render 'imprints/completed_info', imprint: object %>
<% end %>
