<h2>Details</h2>
<dl>
  <dt>Order/Job</dt>
  <dd>#<%= object.order.id %> - <%= object.order.full_name %></dd>
  <dd>CRM Order #<%= object.order.softwear_crm_id %></dd>
  <dd>CRM Job #<%= object.job.softwear_crm_id %></dd>
  <br />
  <% unless object.expected_arrival_date.blank? %>
    <% date = object.expected_arrival_date.day.ordinalize %>
    <dt>Expected Arrival</dt>
    <dd><%= editable object, :expected_arrival_date, value: object.expected_arrival_date.strftime("%A %B #{date}, %Y"),  type: :date, id: "datetimepicker"%></dd>
  <% end %>
  <% unless object.location.blank? %>
    <dt>Location</dt>
    <dd><%= editable object, :location, type: :text %></dd>
  <% end %>
</dl>
<% if in_modal %>
  <%= link_to 'Full view', show_train_path(object), class: 'btn btn-primary' %>
<% else %>
  <%= link_to 'Order', order_path(object.order), class: 'btn btn-primary' %>
<% end %>
