<% if object.require_manager_signoff? %>
  <p class="alert alert-warning flash-notice col-xs-12">
  This Imprint Requires Signoff
  </p>
<% end %>
<% if object.imprint_group? %>
  <% if object.rescheduled_from_id? %>
    <h4>(Reschedule) (Group #<%= object.imprint_group.rescheduled_from_id %>) <%= object.name %></h4>
  <% else %>
    <h4>(Group #<%= object.imprint_group.id %>) <%= object.name %></h4>
  <% end %>
<% elsif object.rescheduled_from_id %>
  <h4>(Reschedule)</h4>
<% end %>

<dl>
  <dt>Description</dt>
  <dd><%= object.description %></dd>

  <% if object.scheduled? %>
      <dt>Scheduled At</dt>
      <dd>
      <% if object.imprint_group? %>
        <%= object.imprint_group.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>,
        <% if current_user.role?('admin') && !object.imprint_group.print_has_started? %>
          <%= editable object.imprint_group, :estimated_time, value: object.imprint_group.estimated_time %>hrs
        <% else %>
          <%= object.imprint_group.estimated_time %>hrs
        <% end %>
      <% else %>
          <%= object.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>,
          <% if current_user.role?('admin') %>
              <%= editable object, :estimated_time %>hrs
          <% else %>
              <%= object.estimated_time %>hrs
          <% end %>
      <% end %>

      </dd>
  <% else %>
      <dt>Unscheduled</dt>
      <dt>Estimated Time</dt>
      <dd>
        <% if object.imprint_group? %>
            <% if current_user.role?('admin') && !object.imprint_group.print_has_started? %>
                <%= editable object.imprint_group, :estimated_time, value: object.imprint_group.estimated_time %>hrs
            <% else %>
                <%= object.imprint_group.estimated_time %>hrs
            <% end %>
        <% else %>
            <% if current_user.role?('admin') %>
                <%= editable object, :estimated_time %>hrs
            <% else %>
                <%= object.estimated_time %>hrs
            <% end %>
        <% end %>
      </dd>
  <% end %>
  <% if current_user.role?('admin') && object.respond_to?(:softwear_crm_id) %>
    <dt>SoftWEAR-CRM ID</dt>
    <dd><%= editable object, :softwear_crm_id %></dd>
  <% end %>
  <dt>Production Deadline</dt>
  <dd><%= object.production_deadline || 'Unsure' %></dd>
  <dt>Machine</dt>
  <dd>
    <% if current_user.role?('admin') %>
      <%= editable object, :machine_id, type: :select, data: { source: Machine.all.map { |m| { m.id => m.name } } } %>
    <% else %>
      <%= object.machine_name %>
    <% end %>
  </dd>
  <dt>Type</dt>
  <dd><%= object.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
  <% if object.type == 'ScreenPrint' %>
    <dt>Revolved?</dt>
    <dd>
      <% if current_user.role?('admin') %>
        <%= editable object, :revolved %>
      <% else %>
        <%= object.revolved? ? 'Yes' : 'No' %>
      <% end %>
    </dd>
  <% end %>

  <% if object.imprintable_train && object.imprintable_train.location.present? %>
    <dt>Imprintables Location</dt>
    <dd><%= object.imprintable_train.location %></dd>
  <% end %>

  <dt>Count</dt>
  <dd>
    <% if object.imprint_group? %>
      <% if current_user.role?('admin') %>
        <%= editable object.imprint_group, :quantity, value: object.imprint_group.quantity || object.imprint_group.count %>
      <% else %>
        <%= object.imprint_group.quantity || object.imprint_group.count %>
      <% end %>
    <% else %>
        <% if current_user.role?('admin') %>
            <%= editable object, :count %>
        <% else %>
            <%= object.count %>
        <% end %>
    <% end %>
  </dd>

  <% if object.try(:triloc_result) %>
    <dt>Triloc</dt>
    <dd><%= object.triloc_result %></dd>
  <% end %>
</dl>
<% if object.completed? %>
  <%= render 'imprints/completed_info', imprint: object %>
<% end %>
