<h2>Screen Train Details</h2>

<dl>
  <dt>Job(s)</dt>
  <% object.unique_jobs.each do |j| %>
    <dd class="screen-train-imprints">CRM#<%=j.softwear_crm_id %> <%= j.crm.name %></dd>
  <% end %>
  <dt>Imprint(s)</dt>
  <% object.imprints.map{|x| x.name}.uniq.each do |imprint| %>
    <dd class="screen-train-imprints">CRM#<%= object.order.softwear_crm_id %> <%= imprint %></dd>
  <% end %>
  <dt>Artwork Location</dt>
  <dd class="screen-train-artwork-location"><%= object.artwork_location %>
  </dd>
<% unless (object.screen_requests.empty? || object.all_screens_assigned?) %>
    <dt>Screen Requests
    </dt>
    <dd><%= object.screen_requests.map(&:name).join(", ") %>
    </dd>
<% else %>
    <dt>Assigned Screens
    </dt>
    <dd><%= object.assigned_screens.map(&:name).join(", ") %>
    </dd>
<% end %>
    <dt>Notes</dt>
    <dd><%= object.notes %>
    <dt>Machine(s)</dt>
    <dd class="screen-train-print-type"><%= object.machines.join(', ') %>
</dl>

<div class="row clear clearfix">
<dl class="col-xs-6">
  <dt>Total Imprint Count</dt>
  <dd class='screen-train-count'><%= object.imprint_count %>
  </dd>
  <dt>New Sep?</dt>
  <dd class='screen-train-new-separation'><%= object.new_separation? ? 'yes' : 'no' %>
  </dd>
</dl>
<dl class="col-xs-6">
  <dt>Fba?</dt>
  <dd class='screen-train-fba'><%= object.fba? ? 'yes' : 'no' %>
  </dd>
  </dd>
  <dt>Print Type</dt>
  <dd class="screen-train-print-type"><%= object.print_type %>
</dl>
</div>

<%= link_to edit_screen_train_path(object), class: 'btn btn-warning btn-sm', remote: true do %>
  <i class='glyphicon glyphicon-pencil'></i>
<% end %>
