<%= bootstrap_destroy_button(object) %>

<hr />
<%= bootstrap_form_for object, remote: in_modal do |f| %>
  
  <%= f.select :shipped_by_id, User.all.map{|u| [u.full_name, u.id] }, include_blank: true %>
  <%= f.text_field :carrier %>
  <%= f.text_field :service %>
  <%= f.text_field :tracking %>
  <%= f.label :time_in_transit %>
  <div class="input-group">
    <%= f.text_field :time_in_transit, hide_label: true %>

    <span class="input-group-addon">
      days
    </span>
  </div>

  <%= f.submit %>
<% end %>

<% if in_modal %>
  <%= link_to 'Full view', show_train_path(object), class: 'btn btn-primary' %>
<% else %>
  <%= link_to 'Order', order_path(object.order), class: 'btn btn-primary' %>
<% end %>
