<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">SoftWEAR Production</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Dashboard', root_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calendar <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Master', dashboard_calendar_path %></li>
            <li class="divider"></li>
            <% @machines.each do |machine| %>
              <li><%= link_to machine.name, machine_path(machine) %></li>
            <% end %>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Orders <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'List', orders_path %></li>
            <li><%= link_to 'New', new_order_path %></li>
            <li><%= link_to 'Imprints', imprints_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Maintenance <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'List', maintenances_path %></li>
            <li><%= link_to 'New', new_maintenance_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Screens <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Screen Status & Lookup', status_screens_path %></li>
            <li><%= link_to 'Screen Admin', screens_path %></li>
            <li><%= link_to 'Fast Scan', fast_scan_screens_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to 'Machines', machines_path %></li>
            <li><%= link_to 'CRM API Settings', ApiSetting.crm ? edit_api_setting_path(ApiSetting.crm) : new_api_setting_path %></li>
            <% if current_user.admin %>
                <li><%= link_to 'Manage Users', users_path %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
             <li><%= link_to 'Imprint Count', report_path(:imprint_count) %></li>
          </ul>
        </li>
      </ul>
      <% unless current_user.nil? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to 'User Settings', edit_user_registration_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
