<div id='train-<%= object.model_name.element %>-<%= object.id %>' class="clearfix">
  <p class='transition-error alert alert-danger' style='display: none'></p>

  <div class="alert alert-info transition-alert alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    Current State:
    <b class='current-state'>
      <%= train_state_of(object).human_name.titleize %>
    </b>
    <%= "(Complete!)" if object.complete? %>
  </div>

  <div class='train-categories'>
    <%= render 'shared/train_categories', object: object %>
  </div>
</div>
