<div class="col-xs-12 train-public-activity-entry">
  <hr />
  <div class="col-xs-3">
    <%= render 'public_activity/shared/editable_timestamp', activity: activity %>
  </div>
  <div class="col-xs-3">
    <%= activity.owner.email %>
  </div>
  <div class="col-xs-2">
    <%= activity.parameters['event'].to_s.humanize %>
  </div>

  <% activity.parameters.each do |key, val| %>
    <% unless key.to_sym == :event %>
      <div class="col-xs-2">
        <%= key.to_s.humanize.titleize %>:

        <% if val.blank? %>
          &lt;EMPTY&gt;
        <% elsif /(?<field>\w+)_id$/ =~ key.to_s && model = class_of_field(activity.trackable_type, key) %>
          <%= display_model(model, val) %>
        <% else %>
          <%= val.humanize.titleize %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
