
<% if order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this crap from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<div class='container'>
  <div class='row'>
    <div class='col-sm-12'>
      <%= nested_form_for order, role: 'form', builder: BootstrapForm::FormBuilder do |f| %>
        <div class='control-group'>
          <%= f.check_box :fba, class: 'form-control', label: 'FBA?' %>
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.text_field :deadline, class: 'form-control datetimepicker-standard', value: order.deadline %>
        </div>

        <div class='order-jobs'>
          <%= f.fields_for :jobs do |ff| %>
            <%= render 'job_fields', f: ff %>
          <% end %>
          <%= f.link_to_add "New Job", :jobs, class: 'btn btn-primary' %>
        </div>

        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
