<%= bootstrap_form_for(order, role: 'form') do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :deadline, class: 'datetimepicker-standard', value: order.deadline %>

  <div class='order-jobs'>
    <%= f.fields_for :jobs do |ff| %>
      <%= render 'job_fields', f: ff %>
    <% end %>
    <%= f.add_record_button :jobs %>
  </div>
<% end %>
