<h4>Group #<%= imprint_group.id %></h4>

<%= render 'shared/imprint_details', imprint: imprint_group %>

<h5>Imprints:</h5>
<div class='well imprint-group-drop-zone' data-imprint-group-id='<%= imprint_group.id %>'>
  <div>&lt;drop imprints here&gt;</div>
  <ul>
    <% imprint_group.imprints.each do |imprint| %>
      <li>
        <%= render 'orders/imprint_group_entry', imprint: imprint %>
      </li>
    <% end %>
  </ul>
</div>

<ul class='list-inline'>
  <li>
    <%= form_for imprint_group, remote: true, method: :delete do |f| %>
      <%= button_tag '<i class="glyphicon glyphicon-remove-circle"></i>'.html_safe, class: 'btn btn-danger remove-imprint-group' %>
    <% end %>
  </li>
  <li>
    <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_imprint_group_path(imprint_group), remote: true, class: 'btn btn-warning edit-imprint-group' %>
  </li>
</ul>
<div class='clearfix'></div>
