<div class="panel-heading">
  Group #<%= imprint_group.id %>
</div>

<div class="panel-body">
  <%= render 'shared/imprint_details', imprint: imprint_group %>

  <h5>Imprints:</h5>
  <div class='panel panel-success imprint-group-drop-zone' data-imprint-group-id='<%= imprint_group.id %>'>
    <div class="panel-heading">Drop Imprints Below</div>
    <div class="panel-body">
    <ul>
      <% imprint_group.imprints.each do |imprint| %>
        <li>
          <%= render 'orders/imprint_group_entry', imprint: imprint %>
        </li>
      <% end %>
    </ul>
    </div>
  </div>

  <ul class='list-inline'>
    <li>
      <%= link_to '<i class="glyphicon glyphicon-eye-open"></i>'.html_safe, imprint_group_path(imprint_group), class: 'btn btn-primary show-imprint-group' %>
    </li>
    <li>
      <%= link_to '<i class="glyphicon glyphicon-pencil"></i>'.html_safe, edit_imprint_group_path(imprint_group), remote: true, class: 'btn btn-warning edit-imprint-group' %>
    </li>
    <li>
      <%= form_for imprint_group, remote: true, method: :delete do |f| %>
        <%= button_tag '<i class="glyphicon glyphicon-remove-circle"></i>'.html_safe, class: 'btn btn-danger remove-imprint-group' %>
      <% end %>
    </li>
  </ul>
  <div class='clearfix'></div>
</div>
