  <h4>(Group #<%= imprint.imprint_group.id %>) <%= imprint.name %></h4>
  <dl>
    <dt>State</dt>
    <dd><%= imprint.state.humanize %></dd>
  <% if imprint.completed? %>
    <dt>Completed by</dt>
    <dd><%= imprint.display_completed_by %></dd>
    <dt>Completed at</dt>
    <dd><%= imprint.completed_at.try(:strftime, '%Y-%m-%d %I:%M%P') || 'unknown' %></dd>
  <% end %>
  </dl>
