<div class="col-xs-4">
  <div class='draggable-imprint panel panel-primary' data-imprint-id="<%= imprint.id %>">
    <div class="panel-heading">
      <%= imprint.name %>
    </div>
    <div class="panel-body">
    <dl>
      <dt>State</dt>
      <dd><%= imprint.state.humanize %></dd>
    </dl>

    <%= render 'shared/imprint_details', imprint: imprint %>
    <p>
      <%= link_to "Show Full Details", imprint_path(imprint), class: 'btn btn-primary' %>
      </p>
    </div>
  </div>
</div>
