<div class="row <%= 'new-job' if f.object.new_record? %>">
  <div class="col-sm-1">
  </div>
  <div class="col-sm-11">
    <h3>Job</h3>
    <%= f.text_field :name %>
    <div class='job-imprints'>
      <%= f.fields_for :imprints do |ff| %>
        <%= render 'imprint_fields', f: ff %>
      <% end %>
      <%= f.link_to_add "New Imprint", :imprints, class: 'btn btn-primary' %>
    </div>
    <%= f.link_to_remove "Remove Job", class: 'btn btn-danger' %>
  </div>
</div>
<hr />
