<div class="pull-right" id="order-nav">
  <%= link_to orders_path, class: 'btn btn-md btn-primary', data: { toggle: 'tooltip'}, title: "List Orders" do %>
      <i class='glyphicon glyphicon-list'></i>
  <% end %>
  <% if @order && controller.action_name == 'edit' %>
      <%= link_to order_path, class: 'btn btn-md btn-success', data: { toggle: 'tooltip'}, title: "Show Order" do %>
          <i class='glyphicon glyphicon-eye-open'></i>
      <% end %>
  <% elsif @order && controller.action_name == 'show' %>
      <%= link_to edit_order_path, class: 'btn btn-md btn-warning', data: { toggle: 'tooltip'}, title: "Edit Order" do %>
          <i class='glyphicon glyphicon-pencil'></i>
      <% end %>
      <%= link_to @order, method: :delete, class: 'btn btn-md btn-danger', data: { confirm: 'Are you sure?', toggle: 'tooltip'}, title: "Destroy Order" do %>
          <i class='glyphicon glyphicon-remove-circle'></i>
      <% end %>
  <% end %>
  <% unless controller.action_name == 'new' %>
      <%= link_to new_order_path, class: 'btn btn-md btn-success', data: { toggle: 'tooltip'}, title: "New Order" do %>
          <i class='glyphicon glyphicon-plus'></i>
      <% end %>
  <% end %>
  <% unless @order.nil? || @order.complete? == true %>
    <%= link_to force_complete_order_path, class: 'btn btn-md btn-warning', data: { confirm: 'Are you sure you want to force complee this order?', 
          toggle: 'tooltip'}, title: "Force Complete Order" do %>
          <i class='glyphicon glyphicon-ok'></i>
      <% end %>
  <% end %>
</div>
