<%= paginate orders, theme: 'twitter-bootstrap-3' %>

<table class="no-border">
  <thead class="no-border">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Scheduled At</th>
    <th>Deadline</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody class="no-border-x no-border-y">
  <% orders.each do |order| %>
      <tr>
        <td>
          <% if order.fba? %>
            <span class="label label-success">
              FBA
            </span>
          <% end %>
        </td>
        <td>
          <%= link_to order.full_name, order %>
          <ul>
            <% order.jobs.each do |job| %>
                <li><%= job.name %> (<%= job.imprints.size %> imprints)</li>
            <% end %>
          </ul>
        </td>
        <td>
          <%= table_display_datetime order.earliest_scheduled_date %>
        </td>
        <td>
          <%= table_display_datetime order.deadline %>
        </td>
        <td>
          <%= bootstrap_show_button(order) %>
          <%= link_to dashboard_for_order_path(order), class: 'btn btn-primary btn-sm', data: { toggle: 'tooltip'}, title: "Order Dashboard" do %>
              <i class='fa fa-tachometer'></i>
          <% end %>

          <%= bootstrap_edit_button(order) %>
          <%= link_to force_complete_order_path(order), class: 'btn btn-danger btn-sm',
                      data: {confirm: 'Are you sure you want to force complete this order?', toggle: :tooltip,
                             title: 'Force Complete'} do %>
              <i class='fa fa-check'></i>
          <% end %>
          <%= bootstrap_destroy_button(order) %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate orders, theme: 'twitter-bootstrap-3' %>
