<h1 class="pull-left">Order: <%= @order.name %></h1>
<%= render 'nav' %>
<br clear="all" />
<h2>Deadline: <%= @order.deadline.strftime('%F') %></h2>

<div class="col-xs-12">
<% @order.jobs.each do |job| %>
<h3>Job: <%= job.name %></h3>
  <div class="job well">
    <h4>Pre Production</h4>

    <ul class="trains clearfix clear-after">
      <li class='col-sm-4 well'>
      <h4>Imprintables</h4>
      <dl>
        <dt>State</dd>
        <dd><%= job.imprintable_train.state.humanize %></dd>
      </dl>
      </li>
    </ul>
    
    <h4>Production</h4>

    <ul class='imprints'>
      <% job.imprints.each do |imprint| %>
        <li class='col-sm-4 well'>
        <h4><%= imprint.name %></h4>
          <dl>
            <dt>State</dt>
            <dd><%= imprint.state.humanize %></dd>
          </dl>

          <%= render 'shared/imprint_details', imprint: imprint %>
          <p> 
            <%= link_to "Show Full Details", imprint_path(imprint), class: 'btn btn-primary' %>
          </p>
        </li>
      <% end %>
    </ul>
    <br clear="all" />
  </div>
<% end %>

</div>
