<% if imprint.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(imprint.errors.count, "error") %> prohibited this crap from being saved:</h2>

      <ul>
        <% imprint.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= bootstrap_form_for(imprint, role: 'form') do |f| %>

      <%= f.text_field :name %>
      <%= f.text_area :description %>
      <%= f.select :machine_id, @machines.collect{ |machine| [machine.name, machine.id] }, { include_blank: 'Select Machine' } %>
      <%= f.number_field :estimated_time, step: 'any', label: 'Estimated Time in Hours' %>
        <%= f.form_group :approved, label: { text: "Approved?" } do %>
        <%= f.radio_button :approved, true, label: "Yes", checked: imprint.approved? %>
        <%= f.radio_button :approved, false, label: "No", checked: !imprint.approved? %>
      <% end %>
    <%= f.text_field :completed_at, class: 'datetimepicker-standard' %>

    <%= f.submit class: 'btn btn-primary'%>
<% end %>
