<% if imprint.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(imprint.errors.count, "error") %> prohibited this crap from being saved:</h2>

      <ul>
        <% imprint.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(imprint, role: 'form') do |f| %>
    <div class="form-group">
      <%= f.label :machine_id, 'Machine' %>
      <%= f.select :machine_id, @machines.collect{ |machine| [machine.name, machine.id] }, { include_blank: 'Select Machine' }, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :scheduled_at, 'Scheduled Date' %>
      <div class='input-group date datetimepicker-standard'>
        <%= f.text_field :scheduled_at, { value: datetimepicker_format(f.object.scheduled_at),
                                          placeholder: 'Scheduled Date and Time',
                                          class: 'form-control' } %>
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :estimated_time, 'Estimated Time in Hours' %>
      <%= f.number_field :estimated_time, step: 'any', class: 'form-control' %>
    </div>

    <%= f.submit class: 'btn btn-primary'%>
<% end %>
