<div class="pull-right">
  <%= link_to imprints_path, class: 'btn btn-md btn-primary', data: { toggle: 'tooltip'}, title: "List Imprints" do %>
      <i class='glyphicon glyphicon-list'></i>
  <% end %>
  <% if @imprint && controller.action_name == 'edit' %>
      <%= link_to imprint_path, class: 'btn btn-md btn-success', data: { toggle: 'tooltip'}, title: "Show Imprint" do %>
          <i class='glyphicon glyphicon-eye-open'></i>
      <% end %>
  <% elsif @imprint && controller.action_name == 'show' %>
      <%= link_to edit_imprint_path, class: 'btn btn-md btn-warning', data: { toggle: 'tooltip'}, title: "Edit Imprint" do %>
          <i class='glyphicon glyphicon-pencil'></i>
      <% end %>
      <%= link_to @imprint, method: :delete, class: 'btn btn-md btn-danger', data: { confirm: 'Are you sure?', toggle: 'tooltip'}, title: "Destroy Imprint" do %>
          <i class='glyphicon glyphicon-remove-circle'></i>
      <% end %>
  <% end %>
  <% unless controller.action_name == 'new' %>
      <%= link_to new_imprint_path, class: 'btn btn-md btn-success', data: { toggle: 'tooltip'}, title: "New Imprint" do %>
          <i class='glyphicon glyphicon-plus'></i>
      <% end %>
  <% end %>
</div>