<div class="row search-fields">
    <%= form_tag imprints_path, method: :get do  %>

        <div class="col-sm-4">
          <%= label_tag 'q[text]', 'Search imprint names & descriptions' %>
          <%= text_field_tag 'q[text]', params[:q] ? params[:q][:text] : '',  placeholder: 'Imprint names & descriptions', class: 'form-control'  %>
        </div>
        <div class="col-sm-2">
          <%= label_tag 'q[scheduled_start_at_after]', 'Scheduled After' %>
          <%= text_field_tag 'q[scheduled_start_at_after]', params[:q] ? params[:q][:scheduled_start_at_after] : '', class: 'form-control datetimepicker-standard'  %>
        </div>
        <div class="col-sm-2">
          <%= label_tag 'q[scheduled_start_at_before]', 'Scheduled Before' %>
          <%= text_field_tag 'q[scheduled_start_at_before]', params[:q] ? params[:q][:scheduled_start_at_before] : '', class: 'form-control datetimepicker-standard'  %>
        </div>
          <div class="col-sm-2">
            <%= label_tag 'q[complete]', 'Complete?' %>
            <%= select_tag 'q[complete]', options_for_select([[], ["Yes", true], ["No", false]], params[:q] ? params[:q][:complete] : ''), class: 'form-control' %>
          </div>
        <div class="col-sm-2 text-right">
          <br />
          <%= button_tag class: 'btn btn-success' do %>
              <i class="glyphicon glyphicon-search"></i> Search
          <% end %>
        </div>
    <% end %>
</div>