<div class="row">
  <div class="col-xs-12">
    
    <div class='col-xs-4'>
      <h2>Details</h2>  
      <dl>
        <dt>Description</dt>
        <dd><%= @imprint.description %></dd>
        <% if @imprint.scheduled? %>
            <dt>Scheduled At</dt>
            <dd><%= @imprint.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= @imprint.estimated_time %>hrs</dd>
        <% else %>
            <dt>Unscheduled</dt>
        <% end %>
        <dt>
          Machine
        </dt>
        <dd>
          <%= @imprint.machine_name %>
        </dd>
        <dt>Type</dt>
        <dd><%= @imprint.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
        <dt>Count</dt>
        <dd><%= @imprint.count %></dd>
      </dl>
        <% if @imprint.completed? %>
          <%= render 'completed_info', imprint: @imprint %>
        <% end %>
    </div>
    
    <div class='col-xs-8'> 
      <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>
      
      <% if @imprint.require_manager_signoff? %>
        <p class="alert alert-warning flash-notice col-xs-12">
        This Imprint Requires Signoff
        </p>
      <% end %>

      <div id='transition-state' class='row'>
        <%= render 'transition_state', imprint: @imprint %>
      </div>

    </div>
  </div>


</div>
