<div class="row">
  <% if flash[:notice] %><p class="alert alert-success flash-notice"><%= flash[:notice] %></p><% end %>
  <% if defined?(edit_link) && edit_link %>
      <%= link_to edit_imprint_path(@imprint), class: 'btn btn-primary pull-right' do %>
          <i class="glyphicon glyphicon-edit"></i> Edit
      <% end %>
  <% end %>
  <div class="col-xs-6">
    <dl>
      <dt>Description</dt>
      <dd><%= @imprint.description %></dd>
      <% if @imprint.scheduled? %>
          <dt>Scheduled At</dt>
          <dd><%= @imprint.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= @imprint.estimated_time %>hrs</dd>
      <% else %>
          <dt>Unscheduled</dt>
      <% end %>
      <dt>
        Machine
      </dt>
      <dd>
        <% if current_user.admin? %>
          <%= editable @imprint, :machine_id, type: :select, data: { source: Machine.all.map { |m| { m.id => m.name } } } %>
        <% else %>
          <%= @imprint.machine_name %>
        <% end %>
      </dd>
      <dt>Type</dt>
      <dd><%= @imprint.type.try(:underscore).try(:humanize) || 'Imprint' %></dd>
    </dl>

    <div id='transition-state' class='row'>
      <%= render 'transition_state', imprint: @imprint %>
    </div>
  </div>

  <div id='completion-info' class="col-xs-6">
    <% if @imprint.completed? %>
      <%= render 'completed_info', imprint: @imprint %>
    <% end %>
  </div>

</div>
