<h1 class="pull-left">Listing imprints</h1>
<%= render 'nav' %>
<br clear="all" />

<%= render 'search' %>

<%= paginate @imprints %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Info</th>
      <th>Machine</th>
      <th style="width: 100px">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @imprints.each do |imprint| %>
      <tr>
        <td><%= imprint.id %></td>
        <td>
            <h4><%= imprint.name %></h4>
            <p><%= imprint.description %></p>
            <% if imprint.scheduled? %>
                <p><%= imprint.scheduled_at.strftime('%Y-%m-%d %I:%M%P') %>, <%= imprint.estimated_time %>hrs</p>
            <% else %>
              <p>Unscheduled</p>
            <% end %>
        </td>
        <td><%= imprint.machine_name %></td>
        <td>
        <%= bootstrap_show_button(imprint) %>
        <%= bootstrap_edit_button(imprint) %>
        <%= bootstrap_destroy_button(imprint) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @imprints %>
