<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @title rescue "SoftWEAR Production" %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ann Arbor T-shirt Company">
  <%= favicon_link_tag 'favicon.ico' %>

  <%= stylesheet_link_tag 'theme-flatdream/application', media: 'all' %>
  <%= javascript_include_tag 'theme-flatdream/application' %>

  <!-- External Fonts -->
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Raleway:300,200,100', 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,400italic,700,800' %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js' %>
  <![endif]-->

  <% unless current_view.nil? %>
      <%= javascript_tag { "window.isMobile = #{current_view =~ /Mobile/ ? 'true' : 'false'};" } %>
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="hidden-print" id="loading" style="display: none">
  <div class="loading-inner">
    <div class="spinner-box text-center">
      <div class="spinner">
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
      <br />
      <p>
        Waiting For Response
      </p>
      <p class="small"><a href="#" class="hide-loading-spinner">Click To Hide</a></p>
    </div>
  </div>
</div>

<div id="cl-wrapper">

  <div class="container-fluid" id="pcont">
    <%= render 'layouts/theme-flatdream/top_nav' %>
    <div class="cl-mcont">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>

