<div class="col-xs-12 train-public-activity-entry">
  <hr />
  <div class="col-xs-3">
    <%= activity.created_at.strftime('%F %T') %>
  </div>
  <div class="col-xs-3">
    <%= activity.owner.email %>
  </div>
  <div class="col-xs-2">
    <%= activity.parameters['event'].to_s.humanize %>
  </div>

  <% activity.parameters.each do |key, val| %>
    <% unless key.to_sym == :event %>
      <div class="col-xs-2">
        <% if key.to_sym == :user_id %>
          Done by: <%= User.find_by(id: val).try(:full_name) || 'Unknown' %>
        <% else %>
          <%= key.to_s.humanize.titleize %>:
          <% if val.blank? %>
            &lt;EMPTY&gt;
          <% else %>
            <%= val.humanize.titleize %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
