<div class="row">
  <%= form_tag machine_itinerary_path(@machine), method: :get do %>
      <div class="col-xs-6">
        <%= text_field_tag :date, params[:date], class: 'form-control datepicker-standard' %>
      </div>
      <div class="col-xs-6">
        <%= submit_tag "Look Up Itinerary", class: 'btn btn-primary' %>
      </div>
  <% end %>
</div>
<br />
<h1><%= @machine.name %> - Itinerary for <%= @date.strftime("%A, %B %e") %></h1>
<br />
<table class="table table-striped">
  <thead>
    <th>
      Time
    </th>
    <th style="width: 400px">
      Order
    </th>
    <th style="width: 400px">
      Event
    </th>
    <th>
      State
    </th>
    <th>
      Metrics
    </th>
  </thead>
  <tbody>
  <% @itineary_events.each do |event| %>
    <tr>
      <td>
        <%= format_scheduled_at event %>
      </td>
      <td>
        <% if event.respond_to? :order %>
            <%= link_to dashboard_for_order_path(event.order), target: :_new do %>
                Order #<%= event.order.id %>, CRM Order #<%= event.order.softwear_crm_id %><br />
                <%= event.order.name %><br />
            <% end %>

        <% end %>
      </td>
      <td>
        <% display = raw(event.display("<br />")) rescue event.display %>
        <%= link_to display, calendar_url_for(event), remote: true %>
      </td>
      <td>
        <%= pretty_train_state :div, event %>
      </td>
      <td>
        <%= render 'metrics/table', object: event %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>