<%= render('shared/errors', record: screen_train) unless screen_train.errors.empty? %>

<%= nested_form_for screen_train, role: 'form', builder: BootstrapForm::FormBuilder, remote: true  do |f| %>
  <div class="row clearfix clear">
    <div class="col-sm-4">
      <%= f.text_field :due_at, class: 'form-control datetimepicker-standard', value: screen_train.due_at, help: 'When does the separation need to be completed by' %>
    </div>
    <div class="col-sm-4">
      <%= f.select :new_separation, [["Yes", true], ["No", false]], {help: 'Is this a sep that has been created and is ready to use without any changes'}, {class: 'select2'} %>
    </div>
    <div class="col-sm-4">
      <%= f.select :assigned_to_id, User.all.map{|u| [u.full_name, u.id]}, {include_blank: true, label: 'Assign Sep To', help: 'Who will do this separation'}, class: 'select2' %>
    </div>
  </div>
    <div class="row clearfix clear">
    <div class="col-sm-4">
    <%= f.select :print_type, [""] + ScreenTrain::PRINT_TYPES.map{|x| [x.humanize, x] }, {}, class: 'select2' %>
    </div>
    <div class="col-sm-4">
    <%= f.text_field :lpi %>
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-12">
      <%= f.text_field :artwork_location, help: 'The location on the network where the artwork resides' %>
    </div>
    <div class="col-sm-12">
      <%= f.select :imprint_ids, f.object.order.imprints.map{|x| [x.name_with_job, x.id]}, {label: 'Imprints', help: 'All the Imprints associated with this Separation'}, { class: 'select2', multiple: true  } %>
    </div>
  </div>
    <%= f.text_area :notes %>
  <% unless screen_train.state == 'pending_sep_request' %>  
    <h3>Screen Requests</h3>

    <div id="screen-train-screen-requests"> 
      <%= f.fields_for :screen_requests do |ff| %>
        <%= render 'screen_requests/screen_request_form', f: ff %>
      <% end %>
      <%= f.link_to_add "New Screen Request", :screen_requests, class: 'btn btn-success' %>
    </div>
  <% end %>

  <% unless screen_train.state == 'pending_sep_request' or screen_train.screen_requests.count == 0 %>  
    <h3>Assigned Screens</h3>
    <div>
    <div id="screen-train-assigned-screens"> 
      <%= f.fields_for :assigned_screens do |ff| %>
        <%= render 'assigned_screens/assigned_screen_form', f: ff %>
      <% end %>
      <%= f.link_to_add "Assign A Screen", :assigned_screens, class: 'btn btn-success' %>
    </div>
  <% end %> 
  
  <%= f.submit class: 'btn btn-primary col-xs-8 col-xs-offset-2' %>
  <br clear="all" />
<% end %>
