<h2>Details</h2>
<dl>
  <dt>Order/Job</dt>
  <dd>#<%= train.order.id %> - <%= train.order.full_name %></dd>
  <dd>CRM Order #<%= train.order.softwear_crm_id %></dd>
  <dd>CRM Job #<%= train.job.softwear_crm_id %></dd>
  <br />
  <% unless train.expected_arrival_date.blank? %>
    <dt>Expected Arrival</dt>
    <dd><%= editable train, :expected_arrival_date,
          url: imprintable_train_path(train),
          value: train.expected_arrival_date.strftime("%m/%d/%Y"),
          type: :date
        %>
    </dd>
  <% end %>
  <% unless train.location.blank? %>
    <dt>Location</dt>
    <dd><%= editable train, :location, type: :text %></dd>
  <% end %>
</dl>
<% if in_modal %>
  <%= link_to 'Full view', show_train_path(train), class: 'btn btn-primary' %>
<% else %>
  <%= link_to 'Order', order_path(train.order), class: 'btn btn-primary' %>
<% end %>
